# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
ca-certificates 
colorama
nest-asyncio
openssl
pathlib
pyaes
pyasn1
python
rsa
setuptools
sqlite
telethon
vc=14.2
vs2015_runtime
wheel
wincertstore
